@reference "../../index.css";

.to-top {
  @apply fixed bottom-4 right-4 z-50 transition duration-500 ease-in-out;
}

.to-top.show {
  transform: scale(1);
}

.to-top.hide {
  transform: scale(0);
}

.fab {
  @apply w-12 h-12 fixed right-4 bottom-4 text-lg min-xs:!hidden;
}

.password-icon {
  @apply absolute right-2;
  top: 50%;
  transform: translateY(-50%);
}
