@reference "../../index.css";

.drawer-backdrop {
  @apply fixed z-36;
}

.drawer-backdrop.opened {
  @apply w-screen h-screen;
}

.drawer-backdrop.closed {
  @apply pointer-events-none;
}

.drawer {
  @apply pt-5 w-64 fixed top-0 left-0 z-1 border-r-2 rounded-r-lg bg-base border-border h-screen;
}

.drawer.opened {
  @apply shadow-xl shadow-black/50 translate-x-0;
}

.drawer.closed {
  @apply -translate-x-64;
}

.drawer-list-item {
  @apply w-full flex hover:bg-base-light;
}

.drawer-list-item.active {
  @apply bg-base-light;
}

.drawer-link {
  @apply text-lg text-text-muted w-full py-2 px-5 flex items-center justify-start gap-2;
}

.drawer-divider {
  @apply border-border border-spacing-x-0.5 w-full;
}

.drawer-header-container {
  @apply flex gap-2 items-center justify-start px-5 pb-5;
}

.drawer-header {
  @apply text-xl text-text font-bold;
}
